@use "../../../scss/abstracts/" as *;
.containerValidates {
  width: 100%;
  margin-bottom: 0.3rem;
  p {
    transition: 0.5s;
  }
}

.validPasswordTrue {
  font-weight: 400;
  font-size: $font-text-3;
  line-height: 1.5rem;
  color: $color-primary-100;
}

.validPasswordFalse {
  font-weight: 400;
  font-size: $font-text-3;
  line-height: 1.5rem;
  color: $color-alert;
}
