@use "./abstracts" as *;

:root {
  font-size: 60%;
}

@media (min-width: 700px) {
  :root {
    font-size: 62.5%;
  }
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

// body {
//   background-color: rgb(65, 174, 181, 0.9);
// }

button {
  cursor: pointer;
}

a {
  text-decoration: none;
}
li {
  list-style: none;
}
