.formContainer {
  width: 100%;
  max-width: 50rem;
  height: fit-content;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;

  background: #fefbfb;

  border-radius: 2.3rem;
  // padding: 3rem;
}
