@use "../../../scss/abstracts/" as *;
.containerModal {
  width: 100%;
  min-height: 12rem;
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 1.5rem;

  & > h2 {
    font-size: $font-title-2;
    font-weight: 600;
    color: $color-gray-100;
  }

  & > p {
    font-size: $font-title-3;
    font-weight: 600;
    color: $color-primary-100;

    width: 100%;

    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
