@use "../../../scss/abstracts/" as *;
.Header {
  display: flex;
  width: 100%;
  height: 10rem;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.24);
}

.boxHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  @include central-container;
  height: 100%;

  padding: 1rem;

  & > figure {
    width: 100%;
    height: 100%;
    max-width: 25rem;

    & > img {
      min-height: 100%;
      min-width: 80%;
      margin: 0;
      padding: 0;
    }
  }
}
