$color-primary-100: #2f7e83;
$color-primary-200: #41aeb5e6;
$color-primary-300: #41aeb5cc;
$color-primary-400: #41aeb51a;

$color-gray-100: rgb(0, 0, 0);
$color-gray-200: rgb(0, 0, 0, 0.7);
$color-gray-300: rgb(0, 0, 0, 0.2);
$color-gray-400: white;

$color-alert: red;

$font-title-1: 3rem;
$font-title-2: 2.4rem;
$font-title-3: 2rem;

$font-text-1: 1.8rem;
$font-text-2: 1.6rem;
$font-text-3: 1.4rem;
