@use "../scss/abstracts/" as *;

.containerFullPage {
  width: 100%;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  background-color: $color-primary-300;
}

.container {
  @include central-container;
}

.containerMain {
  margin-top: 1rem;
  width: 100%;

  display: flex;
  flex-direction: column;
  background-color: $color-gray-400;
}

.containerSection {
  width: 100%;
  display: flex;
  flex-direction: column;

  box-shadow: 4px 0px 4px 4px rgba(0, 0, 0, 0.24);

  & > div {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;

    padding: 2rem;

    & > h2 {
      text-align: center;
      font-size: $font-title-2;
    }

    & > h3 {
      text-align: center;
      font-size: $font-title-3;
      color: $color-primary-100;
    }
  }

  & > figure {
    width: 100%;
    min-height: 30rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
  }

  @media (min-width: 600px) {
    flex-direction: row;
    & > div {
      width: 50%;
    }

    & > figure {
      width: 50%;
    }
  }
}

.containerFooter {
  display: flex;
  width: 100%;
  min-height: 8rem;
  box-shadow: 4px 0px 4px 4px rgba(0, 0, 0, 0.24);

  background-color: $color-gray-400;
  margin-top: 1rem;

  & > footer {
    @include central-container;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 1rem;

    & > h3 {
      color: $color-primary-100;
      text-align: center;
      font-size: $font-text-2;
    }
  }
}
