.listContacts {
  display: flex;

  gap: 2rem;

  width: 100%;
  overflow-x: auto;

  border: 0.1rem solid blueviolet;
  padding: 1rem;

  @media (min-width: 650px) {
    overflow-x: hidden;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
}
