.listContacts {
  display: flex;

  gap: 2rem;

  width: 100%;
  overflow-x: auto;

  border: 0.1rem solid blueviolet;
  padding: 1rem;

  li {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    border: 0.1rem solid black;
    border-radius: 1rem;

    padding: 1rem;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.24);

    width: 100%;
    min-width: 29rem;
    max-width: 30rem;
  }

  @media (min-width: 650px) {
    overflow-x: hidden;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
}
