@use "../../scss/abstracts/" as *;
.container {
  @include central-container;

  min-height: 80vh;
}
.containerMain {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
}

.containerSections {
  width: 100%;
  height: fit-content;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;

  padding: 1rem;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.24);

  & > h2 {
    font-size: $font-title-2;

    & > span {
      color: $color-primary-100;
    }
  }

  & > h3 {
    font-size: 2rem;
  }
}
